
<<<<<<< HEAD
.Menu-Container{
  background-color: #333;
  margin: -6pt;
}

.Menu-Container>div.Menu-Center{
	display: flex;
	justify-content: center;
	width: 100%;
}


.Menu-Container>div.Menu-Center>div {
  color: #f2f2f2;
  margin: 0%;
  font-size: 20pt;
  padding: 15pt;
}

.Menu-Container>div.Menu-Center>div:hover{
	background-color: #ddd;
	color: black;
}

.Menu-Search{
	position: absolute;
	right: 40pt;
	top: 16pt;
}

.Menu-Search>input{
	padding: 5px;
	font-size: 17px;
	border: 1px solid #4E4351;
	width: 80%;
	background: #f1f1f1;
}

.Menu-Search>button{
	position: absolute;
	top: 0.1pt;
	right: 5pt;
	width: 15%;
	padding: 3.5pt;
	background: #c242f5;
	color: white;
	font-size: 17px;
	border: 1px solid #4E4351;
	border-left: none;
	cursor: pointer;
}
=======
#lista{
	display:flex;
	order:2;
	padding:0px;
	list-style-type:none;
	flex-direction:row;
  align-items:baseline;
	}

#primero{
	background-color:#dbdbdb;
	color:#c242f5;
	border-style:inset;
	border-width:4px;
	border-color:#c242f5;
	flex-grow:2;
	padding:5%;
	margin:10px;

}

#segundo{
	background-color:#7a7a7a;
	color:#e1a2f2;
	border-style:outset;
	border-width:4px;
	border-color:#5e157a;
	flex-grow:1;
	padding:3%;
	margin:10px;
}

#tercero{
	background-color:#dbdbdb;
	color: #5e157a;
	border-style:outset;
	border-width:4px;
	border-color:#b800ff;
	flex-grow:3;
	padding:4%;
	margin:10px;
}

#cuarto{
	background-color:#7a7a7a;
	color:#b800ff;
	border-style:inset;
	border-width:4px;
	border-color:#e1a2f2;
	flex-grow:1;
	padding:2%;
	margin:10px;
}


/*=========LABIRINTO=======*/
.canvasContainer{
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

/*=========BURGUER SIDE MENU=======*/
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: grey;
  display: block;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

.sidenav a:hover {
  color: purple;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 10px;
  left: 10px;
  z-index: 1;

}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: fixed;
  left: 50px;
  bottom: 0%;
  top: 0;
  width: 300px;
  margin: -100px 0 0 -60px;
  padding-top: 200px;
  background: black;

  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}


/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ div
{
  transform: none;
}
>>>>>>> master
