


body{
 background-image:linear-gradient(to bottom right,white,purple);
}

#category_name{
  width: 100%;
  text-align: center;
  margin-top: 100px;
}


.main_product{
	height: 400px;
	width: 250px;
}

.main_product>img{
	 border-radius: 4%;
	 width: 250px;
    height: auto;

}
.main_product>h3{
	 color: black
}

#products_container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 30px;
  border: 2px solid black;
  border-radius: 10px;;
}
