
.Menu-Container{
  background-color: #333;
  margin: -6pt;
  width: 100%;
  position: fixed;
  top: 0px;
}

.Menu-Container>div.Menu-Center{
	display: flex;
	justify-content: center;
	width: 100%;
}


.Menu-Container>div.Menu-Center>div {
  color: #f2f2f2;
  margin: 0%;
  font-size: 20pt;
  padding: 15pt;
}

.Menu-Container>div.Menu-Center>div:hover{
	background-color: #ddd;
	color: black;
}

.Menu-Search{
	position: absolute;
	right: 40pt;
	top: 16pt;
}

.Menu-Search>input{
	padding: 5px;
	font-size: 17px;
	border: 1px solid #4E4351;
	width: 80%;
	background: #f1f1f1;
}

.Menu-Search>button{
	position: absolute;
	top: 0.1pt;
	right: 5pt;
	width: 15%;
	padding: 3.5pt;
	background: #c242f5;
	color: white;
	font-size: 17px;
	border: 1px solid #4E4351;
	border-left: none;
	cursor: pointer;
}
